torch>=2.0.1
torchaudio>=2.0.2
faster-whisper>=0.9.0
numpy>=1.24.3
nemo-toolkit[asr]>=1.20.0
transformers>=4.36.2
omegaconf>=2.3.0
nltk>=3.8.1
wget>=3.2
pydub>=0.25.1
packaging>=23.2
cython
demucs @ git+https://github.com/MahmoudAshraf97/demucs.git
deepmultilingualpunctuation @ git+https://github.com/getprofundity/deepmultilingualpunctuation.git
ctc-forced-aligner @ git+https://github.com/getprofundity/ctc-forced-aligner.git

